$heading-font-family: 'Raleway';
$headings: (
  'subtitle-1': (
    letter-spacing: 0.1em,
  ),
  'subtitle-2':(
    letter-spacing: 0.1em,
  ),
);
$stepper-step-step-margin: 25px;
/*
 grey: #BDBDBD;
 dark-grey: #4F4F4F;
*/
$body-font-family: 'Roboto';
